<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="max-image-preview:large">
<title>{{ .Title }}</title>
<link rel="icon" type="image/png" sizes="32x32" href="/images/honey_powder_logo-150x150.png">
<link rel="apple-touch-icon" href="/images/honey_powder_logo.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&family=Nunito+Sans:wght@400;600&display=swap">
<link rel="stylesheet" href="/css/style.css">
